* {
	box-sizing: border-box;
}
body {
	background-image: url("food5.png");
	background-repeat: no-repeat;
	background-size: cover;
	
	font-family: Georgia;


}

p {
	text-align: center;
	color: #b45008;
	font-size: 60px;
	font-family: Bodoni FLF;
	font-style: italic;
	font-weight: bold;
	background-color: white;
	opacity: 0.98;

}
#p1, #p2, #p3 {
	margin: 0px;
	border: 0px solid white;
}

#p11 {
	/*background-color: red;*/
	margin-right: 5px;
	

}
#p12 {
	/*background-color: green;*/
	margin-right: 5px;
	

}
#p13 {
	/*background-color: blue;*/
	
}
#p11, #p12, #p13 {
	
	margin: 0px;
	border: 0px;
	text-align: left;
	/*background-color: gray;*/
}

#p112, #p122, #p132 {
	padding: 40px 10px 10px 10px;
	margin: 20px;
	border: 2px solid white;
	background-color: white;
	margin-top: 10px;
	opacity: 0.1;
}

#p112:hover {
	opacity: 0.8;
}
#p122:hover {
	opacity: 0.8;
}
#p132:hover {
	opacity: 0.8;
}

#p111, #p121, #p131 {
	text-align: center;
	width: 35%;
	float: right;
	font-size: 20px;
	border: 3px solid white;
	padding: 2px;
	margin-right: 20px;
	margin-top: 0px;
	font-family: Poppins Bold, sans-serif;
	background-color: white;
	box-shadow: 5px 5px ;
}
#p111 {
	color: #b45008;
}

#p121 {
	background-color: #b45008;
	color: white;
}
#p131 {
	color: #b45008;
}



/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Medium devices only **********/
@media (min-width: 950px) and (max-width: 1199px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    border: 1px solid green;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}